section.about#company
	.container.container-modify
		.row.no-gutters
			.col-sm-6.col-lg-3
				.about-item.about-item-bg.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="100")
					.about-item-img
						img(src="img/about_one.png", alt="about")
					h3.title-small Федеральный социально значимый проект
					p Это закрытый клуб потребителей и особенных привилегий. Основной продукт компании - это дисконтная карта, которая даёт возможность экономить деньги от 10 до 80% во всех сферах деятельности.
			.col-sm-6.col-lg-3
				.about-item.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="100")
					.about-item-img
						img(src="img/about_two.png", alt="about")
					h3.title-small Прогрессивный бизнес с достойным доходом
					p Полный цикл обучения, события, встречи с топовыми лидерами и гуру общего дела, готовые инструменты для ведения бизнеса, поддержка на всех этапах и ваше стремление сделать свою жизнь лучше.
			.col-sm-6.col-lg-3
				.about-item.about-item-bg.wow.fadeIn(data-wow-delay="0.9s" data-wow-offset="200")
					.about-item-img
						img(src="img/about_three.png", alt="about")
					h3.title-small Сообщество единомышленников и предпринимателей
					p Empire Home – это международное сообщество профессионалов и единомышленников, которые разделяют идеалы компании, готовы поддержать друг друга и помочь в развитии бизнеса.
			.col-sm-6.col-lg-3
				.about-item.wow.fadeIn(data-wow-delay="1.2s" data-wow-offset="100")
					.about-item-img
						img(src="img/about_four.png", alt="about")
					h3.title-small Ваш собственный дом в экологически чистом месте
					p Каждый партнёр компании Empire Home, выполнив условия плана вознаграждений, гарантированно получает недвижимость в самых экологически чистых и живописных местах, от побережья до высокогорья.
