section.banner
	.container
		.row
			.col-md-8.col-xl-7
				.caption.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="100")
					.title.title-lg.wow.fadeInLeft(data-wow-delay="0.6s" data-wow-offset="100") Просто экономьте деньги
				.caption-sub.wow.fadeInLeft(data-wow-delay="0.9s" data-wow-offset="100")
					<p> Оплачивайте свои покупки и экономьте деньги с помощью карты 
						<span> "
							<span class="text-primary"> Empire Home</span>"</p>
			.col-md-4.col-xl-3.offset-xl-2 
				a.btn-play.wow.fadeIn.js-play-video(href="https://www.youtube.com/watch?v=rahRaVtEQaM" data-fancybox  data-wow-delay="1.2s" data-wow-offset="100")
					span.play-txt play
					span.play-rect
					span.play-txt video
			.banner-btn-box.wow.fadeIn(href='' data-wow-delay="1.2s" data-wow-offset="100")
				a.btn(href="" ) Discount Card
				a.btn.btn-secondary(href="") Регистрация