section.comment#comments
    .container
        h2.title.title-mid.wow.fadeIn(data-wow-offset="200") Что говорят наши партнеры и клиенты
        .comment-slide.js-slider.wow.fadeIn(data-wow-offset="200")
            .comment-item-box
                .comment-item
                    .comment-info
                        .comment-img
                            img(src="img/comment_one.png" alt="comment")
                        h3.title-small.title-primary Александр Паненко
                            span.text-white ,
                            span.comment-city г.Петропавловск
                        p Мне рассказал о компании EMPIRE HOME мой друг. Идея мне сразу понравилась своей простотой и прозрачностью (скидки нужны всем). Без лишних раздумий я зашел в бизнес и начал вникать в перспективы компании, посещать вебинары и общаться с новыми людьми. В первую неделю  я понял, что я не просто купил карту со скидкой и возможность строить бизнес с минимальными денежными вложениями (что тоже немаловажно), но и стал частью команды профессионалов с огромным опытом в продажах, в построении огромных структур, с опытом ведения сложнейших переговоров. Инновационная система обучения, приводящая к полной автоматизации ведения бизнеса, доступная каждому, личностный рост, свободный график, путешествия, финансовая свобода и конечно фонд «Империя Жизни» который дает прикоснуться к спасению детей! И это лишь небольшая часть плюсов, которые дает компания EMPIRE HOME.

            .comment-item-box
                .comment-item
                    .comment-info
                        .comment-img
                            img(src="img/comment_two.png" alt="comment")
                        h3.title-small.title-primary Александр Щепко
                            span.text-white ,
                            span.comment-city г. Сургут
                        p Когда мой друг познакомил меня с маркетингом компании ЕMPIRE HOME и ее планами, я понял, что это взрывной проект подобного на рынке я не встречал. Главное, что меня зацепило, это благотворительность! Я считаю это очень важно! Мы будем помогать людям которые нуждаются в этом.
                .comment-item
                    .comment-info
                        .comment-img
                            img(src="img/comment_three.png" alt="comment")
                        .comment-info
                            h3.title-small.title-primary Юлай Биктимиров
                                span.text-white ,
                                span.comment-city г. Уфа
                            p В компании EMPIRE HOME мне очень понравился маркетинг план, а также профессионализм руководителей и ответственных лиц за свои направления, возможность строить бизнес и достигать больших результатов и одновременно заниматься благотворительностью. Команда в компании очень дисциплинированная и очень грамотные люди, с которыми любой желающий достигнет высоких и результатов.

            .comment-item-box
                .comment-item
                    .comment-info
                        .comment-img
                            img(src="img/comment_five.jpg" alt="comment")
                        h3.title-small.title-primary Надежда Костина
                            span.text-white ,
                            span.comment-city г. Омск
                        p Всем здравствуйте! Хочу написать своё мнение о компании Empire Home. Я была очень сильным скептиком и не заходила ни в одну сетевую компанию. Раньше я работала в банке, и, друзья, никому не советую там работать, с приходом в нашу компанию моя жизнь изменилась кардинально! Первое, что я получила от компании Empire Home - это свободу в своих действиях, свободный график. Я работаю, когда хочу и сколько хочу, нет никаких начальников, и начала проводить больше времени с семьёй. Второе - это реальный заработок, на работе у меня был потолок максимум 32000, здесь потолка нет, все зависит от меня самой. Третье - это знакомство с новыми людьми и личностное развитие. Хочу сказать спасибо моему другу, который рассказал мне про эту компанию. Не бойтесь, друзья, делать что-то новое, и если вам кажется, что пора что-то менять в своей жизни, то вам это не кажется.

            .comment-item-box
                .comment-item
                    .comment-info
                        .comment-img
                            img(src="img/comment_four.jpg" alt="comment")
                        h3.title-small.title-primary Ольга Браиловская
                            span.text-white ,
                            span.comment-city г. Сургут
                        p Я давно знакома с руководством компании лично, поэтому могу уверенно сказать, что это команда профессионалов высокого уровня. Продукт, предлагаемый компанией, помогает экономить семейный бюджет, он прост и понятен в использовании, а для амбициозных людей это возможность отлично заработать! Empire Home не имеет аналогов, это - предложение, от которого просто невозможно отказаться, все кто с нами просто обречены на успех! Будь первым! Будь с Empire Home!
                        

                .comment-item
                    .comment-info
                        .comment-img
                            img(src="img/comment_six.jpg" alt="comment")
                        h3.title-small.title-primary Мария Матвейчук,
                            span.text-white ,
                            span.comment-city г. Нефтеюганск
                        p Компания Еmpire Home занимается улучшением жизни каждого из своих клиентов! Здесь каждый может реализовать себя как личность и открыть новые горизонты. Она помогает не только получать уникальные скидки, но и заниматься благотворительностью, мы все прикладываем к этому свою руку. Также компания даёт возможность существенно зарабатывать! Спасибо вам, Еmpire Home, за такие ВОЗМОЖНОСТИ! Я безумно счастлива, что когда-то моя подруга рассказала мне про вас!
