section.main-news
	.container
		h2.title-mid Новости компании
		.row
			.col-md-4
				.main-news-item.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="200")
					a.main-news-item-box(href="")
						.main-news-img.embed-responsive-2by1
							img(src="img/news_one.jpg", alt="services")
						.title-small Lorem ipsum dolor sit amet
						p Eos id timeam meliore, assentior deseruisse necessitatibus vis id. Et consectetuer reprehendunt his, virtute praesent te nam. An mea volumus maluisset theophrastus consectetuer.
					.main-news-info
						.main-news-info-date 16.01.19
						a.main-news-info-link(href="") читать далее


			.col-md-4
				.main-news-item.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="200")
					a.main-news-item-box(href="")
						.main-news-img.embed-responsive-2by1
							img(src="img/news_two.jpg", alt="services")
						.title-small Lorem ipsum dolor sit amet
						p Eos id timeam meliore, assentior deseruisse necessitatibus vis id. Et consectetuer reprehendunt his, virtute praesent te nam. An mea volumus maluisset theophrastus consectetuer.
					.main-news-info
						.main-news-info-date 16.01.19
						a.main-news-info-link(href="") читать далее


			.col-md-4
				.main-news-item.wow.fadeIn(data-wow-delay="0.9s" data-wow-offset="200")
					a.main-news-item-box(href="")
						.main-news-img.embed-responsive-2by1
							img(src="img/news_three.jpg", alt="services")
						.title-small Lorem ipsum dolor sit ame
						p Eos id timeam meliore, assentior deseruisse necessitatibus vis id. Et consectetuer reprehendunt his, virtute praesent te nam. An mea volumus maluisset theophrastus consectetuer.
					.main-news-info
						.main-news-info-date 16.01.19
						a.main-news-info-link(href="") читать далее

		.main-news-btn-box
			a.btn.btn-draw-border(href="") Больше новостей

