section.partners
	.container
		h2.title-mid.title-primary.wow.fadeIn(data-wow-offset="100") Партнёром 
			span.text-white Empire Home  
			|  может стать каждый!
		.row.justify-content-lg-center
			.col-md-6.col-lg-5
				.partners-clmn.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="200")
					h3.title-small Наша миссия
					p Empire Home создаёт возможности для начала богатой и полноценной жизни, доступные каждому. Мы разработали бизнес-проект, который позволит человеку только за счёт своих личных возможностей реализовать мечты: о доме на берегу моря или высоко в горах, о хорошей машине, о престижной жизни без лишних забот. Мы изменим благосостояние каждого, кто хочет этого так же, как и мы.
			.col-md-6.col-lg-5
				.partners-clmn.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="200")
					h3.title-small Наши цели
					p Построить с нуля линии коттеджей на экологически чистых и живописных локациях. Создать и объединить коллектив профессионалов, способных вести собственный бизнес, принимать эффективные решения и постоянно развиваться без чрезмерных нагрузок. Обеспечить стабильное и понятное вознаграждение каждого партнёра пропорционально его вкладу.