section#project.project
    .container
        h2.title-mid.title-primary Дорожная карта проекта
        .project-sub-ttl Планы компании расписаны на 5 лет вперёд. Дорожная карта всегда будет пополняться, а об изменениях вы сможете узнавать на нашем сайте, в личном кабинете, соц. сетях и мессенджерах.
        .project-map-box
            .project-bg
                .project-bg-box
                    .progress-top.wow.activeWidth(data-wow-offset="30")
                        .progress-top-line
                    .progress-right.wow.activeHeight(data-wow-offset="30" data-wow-delay="0.9s")
                        .progress-right-line
                    .progress-mid.wow.activeWidth(data-wow-offset="50")
                        .progress-mid-wrap 
                            .progress-mid-line
                    .progress-left.wow.activeHeight(data-wow-offset="30" data-wow-delay="1s")
                        .progress-left-line
                    .progress-bottom.wow.activeWidth(data-wow-offset="30" data-wow-delay="0.3s")
                        .progress-bottom-line
            .project-bg.project-bg-overlay
                .project-bg-box
                    .progress-top.wow.activeWidth(data-wow-offset="30" data-wow-delay="0.4")
                        .progress-top-line
                    .progress-right.wow.activeHeight(data-wow-offset="30" data-wow-delay="0.9s")
                        .progress-right-line
                    .progress-mid.wow.activeWidth(data-wow-offset="50")
                        .progress-mid-wrap 
                            .progress-mid-line
                    .progress-left.wow.activeHeight(data-wow-offset="30" data-wow-delay="1s")
                        .progress-left-line
                    .progress-bottom.wow.activeWidth(data-wow-offset="30" data-wow-delay="0.3s")
                        .progress-bottom-line
            .project-mab-fg
                .project-map
                    .order-lg-1.project-item.project-item--compleate.previous.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.1s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date декабрь 2018
                            .project-item-text Идея

                    .order-lg-1.project-item.project-item--compleate.previous.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.2s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date декабрь 2018
                            .project-item-text Проработка плана

                    .order-lg-1.project-item.project-item--compleate.previous.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.3s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date январь/апрель 2019
                            .project-item-text Разработка сайта
                        
                    .order-lg-1.project-item.project-item--compleate.previous.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.4s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date январь/февраль 2019
                            .project-item-text Регистрация/открытие компании

                    .order-lg-1.project-item.project-item--compleate.previous.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.5s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date январь/февраль 2019  
                            .project-item-text Набор сотрудников

                    .order-lg-1.project-item.project-item--compleate.previous.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.6s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date январь/февраль 2019
                            .project-item-text Подготовка всей документации и инструментов

                    .order-lg-1.project-item.project-item--compleate.current.previous.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.7s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date февраль/март 2019
                            .project-item-text Производство карт
                        
                    .order-lg-1.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.8s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date март 2019
                            .project-item-text Запуск официальных страниц в социальных сетях

                    .order-lg-1.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.9s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date март/апрель 2019
                            .project-item-text Формирование лидерского состава

                    .order-lg-8.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.1s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date апрель 2019
                            .project-item-text Открытие головного офиса

                    .order-lg-7.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.2s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date апрель 2019
                            .project-item-text Запуск партнёрского сектора в регионах

                    .order-lg-6.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.3s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date май 2019 
                            .project-item-text Официальное открытие компании и открытие офисов в регионах

                    .order-lg-5.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.4s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date июнь 2019
                            .project-item-text Путешествие за границу за счёт компании. Обучение. Награждения. Командообразование

                    .order-lg-4.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.5s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date июль 2019
                            .project-item-text Закрытый тренинг от статуса "М3". 3 дня. Сочи

                    .order-lg-3.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.6s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date сентябрь 2019
                            .project-item-text Первое крупное событие для всех партнёров. Шоу, Тренинги, Новости, Обучение от Основателя. Новости от Генерального директора, Награждение, Признания, Подарки и многое другое! 2 дня
                            
                    .order-lg-2.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.7s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date ноябрь 2019
                            .project-item-text Запуск нового продукта повседневного назначения для всех и для каждого

                    .order-12.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.1s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date осень 2019 
                            .project-item-text Выезд лидеров от статуса "Д2" с руководством в Ирландию. Обсуждение планов на следующий год. Постановка цели. Отдых

                    .order-12.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.2s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date декабрь 2019
                            .project-item-text Новогодние каникулы в Дубай за счёт компании для партнёров со статусом "Д1" и выше

                    .order-12.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.3s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date январь 2020
                            .project-item-text Закрытое обучение для партнёров "М1", "М2", "М3" в г. Сочи. Тема "Как стать Д3 за 90 дней!". 3 дня
                        
                    .order-12.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.4s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date март 2020
                            .project-item-text Запуск нового, уникального продукта для тех, кто любит путешествовать и желает делать это чаще

                    .order-12.project-item.wow.fadeIn(data-wow-offset="200" data-wow-delay="0.5s")
                        .project-item-rect
                            span
                        .project-item-wrap
                            .project-item-date май 2020
                            .project-item-text Годовщина компании в Сочи! Тысяча человек! Сотни городов! Одна страна! Шоу. Выступление звёзд. Тренинги. Закрытые обучения. Подарки. Награждения. Новости. Промо. Истории успеха

                        