section.scope#scope
    .container
        h2.title-mid.wow.fadeIn(data-wow-offset="100") Откройте для себя новые возможности
        .row
            .col-lg-6
                .scope-item.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="100")
                    .scope-item-img
                        img(src="./img/scope_home.png", alt="scope")
                    .scope-item-content
                        h3.title-small Земельные участки и дома
                        p Вы сможете выбрать земельный участок, который будет вам по душе, а дальше интересней - получайте квалификацию выше и мы начнем строительство дома вашей мечты! Все документы собственности будут переданы вам, владельцу.
            .col-lg-6
                .scope-item.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="100")
                    .scope-item-img
                        img(src="./img/scope_team.png", alt="scope")
                    .scope-item-content
                        h3.title-small Сильное окружение
                        p Вы попадете в окружение сильных, успешных, целеустремленных и предприимчивых людей, среди которых профессионалы в вопросах бизнеса и творчества. В окружение, где вы будете обучаться, расти и развиваться.
            .col-lg-6
                .scope-item.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="100")
                    .scope-item-img
                        img(src="./img/scope_freedom.png", alt="scope")
                    .scope-item-content
                        h3.title-small Свобода во всём
                        p Вы сами устанавливаете свой график и выбираете комфортное место для ведения бизнеса. Никаких планов, горящих задач и авралов, только вдохновляющая жизнь, путешествия по миру и абсолютная гармония во всём.
            .col-lg-6
                .scope-item.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="100")
                    .scope-item-img
                        img(src="./img/scope_education.png", alt="scope")
                    .scope-item-content
                        h3.title-small Обучение и поддержка
                        p Мы подготовили все необходимые материалы и пошаговые инструкции для запуска вашего бизнеса, ответы на вопросы и еженедельные обучающие мероприятия. Нам есть чем удивить даже опытных предпринимателей.
            .col-lg-6
                .scope-item.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="100")
                    .scope-item-img
                        img(src="./img/scope_awwards.png", alt="scope")
                    .scope-item-content
                        h3.title-small Награды, бонусы и акции
                        p Empire Home дарит статусные и полезные вознаграждения за высокие достижения: флагманы линеек современных гаджетов, экологически чистую партнерскую продукцию, автомобиль представительского класса и многое другое.
            .col-lg-6
                .scope-item.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="100")
                    .scope-item-img
                        img(src="./img/scope_ravels.png", alt="scope")
                    .scope-item-content
                        h3.title-small Путешествия по миру
                        p Бесконечно путешествуйте по земному шару в кругу целеустремлённых, успешных партнёров компании или в индивидуальных турах. Переверните свою жизнь и совершайте увлекательные открытия каждый новый день!
            .col-lg-6
                .scope-item.wow.fadeIn(data-wow-delay="0.3s" data-wow-offset="100")
                    .scope-item-img
                        img(src="./img/scope_evolution.png", alt="scope")
                    .scope-item-content
                        h3.title-small Постоянное развитие
                        p Мы постоянно расширяем ваши возможности, которые позволят получать все больше преимуществ от сотрудничества: новые подарки, магазины-партнёры, акции, инструменты для бизнеса и многое другое.
            .col-lg-6
                .scope-item.wow.fadeIn(data-wow-delay="0.6s" data-wow-offset="100")
                    .scope-item-img
                        img(src="./img/scope_cards.png", alt="scope")
                    .scope-item-content
                        h3.title-small Дисконтные карты
                        p Каждый партнёр Empire Home получает дисконтную карту, которая даёт уникальные скидки от магазинов-партнёров и мировых брендов, а также открывает множество других привилегий своим владельцам.
