section.services#services
    .container
        h2.title.title-mid.title-primary.wow.fadeIn(data-wow-offset="100") Выберите пакет услуг
        h3.title-sub.wow.fadeIn(data-wow-offset="100") Каждый пакет имеет свои преимущества
        .services-table-box
            table.services-table.services-table-md.wow.fadeIn(data-wow-offset="100")
                tbody.services-table-body
                    tr.services-table-head
                        th
                        th LOW-COST
                        th BASIC
                        th STANDART
                        th PREMIUM
                    tr
                        td Скидки в различных сферах
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                    tr
                        td Личный кабинет
                        td  -
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                    tr
                        td Обучение
                        td  -
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                    tr
                        td Готовый бизнес
                        td  -
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                    tr
                        td Тренинги
                        td  -
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                        td 
                            span.table-ok

                    tr
                        td Посещение событий
                        td  -
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                    tr
                        td Увеличенный доход
                        td  -
                        td  -
                        td 
                            span.table-ok
                        td 
                            span.table-ok
                    tr
                        td Расширенный маркетинг план
                        td  -
                        td  -
                        td  -
                        td 
                            span.table-ok
                    tr
                        td Бонусы и подарки согласно плану вознаграждений - автомобиль и дом
                        td  -
                        td  -
                        td  -
                        td 
                            span.table-ok
                    tfoot.services-table-foot
                        tr.services-table-head
                            th 
                                div Стоимость пакета
                                div Стоимость для партнёров

                            th 
                                div 1 000 
                                    span руб.
                                div 500 руб
                            th
                                div 10 000 
                                    span руб.
                            th 
                                div 25 000 
                                    span руб.

                            th 
                                div 50 000 
                                    span руб.

                        tr
                            td Абонентская плата
                            td free
                            td 3 000 руб./год
                            td 3 000 руб./год
                            td 3 000 руб./год
                        tr
                            td Срок использования
                            td  ∞
                            td  ∞
                            td  ∞
                            td  ∞
                        tr
                            td Low-cost карты в подарок
                            td -
                            td 1 карта
                            td 3 карта
                            td 5 карт
                        tr
                            td 
                            td 
                                a.btn-small(href="") Выбрать
                            td
                                a.btn-small(href="") Выбрать
                            td
                                a.btn-small(href="") Выбрать
                            td
                                a.btn-small(href="") Выбрать

            .table-box
                table.services-table.services-table-sm
                    caption(align="center") LOW-COST
                    tbody.services-table-body
                        tr
                            td Скидки в различных сферах
                            td 
                                span.table-ok
                        tr
                            td Личный кабинет
                            td -

                        tr
                            td Обучение
                            td -
                        tr
                            td Готовый бизнес
                            td -
                        tr
                            td Тренинги
                            td -

                        tr
                            td Посещение событий
                            td -
                        tr
                            td Увеличенный доход
                            td -
                        tr
                            td Расширенный маркетинг план
                            td -
                        tr
                            td Бонусы и подарки согласно плану вознаграждений - автомобиль и дом
                            td -
                        tfoot.services-table-foot
                            tr.services-table-head
                                th 
                                    span Стоимость пакета
                                    span Стоимость для партнёров
                                th  
                                    span 1 000руб.
                                    span 500руб.
                            tr
                                td Абонентская плата
                                td  free
                            tr
                                td Срок использования
                                td  ∞
                            tr
                                td Low-cost карты в подарок
                                td -
                a.btn-small(href="") Выбрать

            .table-box
                table.services-table.services-table-sm
                    caption(align="center") BASIC
                    tbody.services-table-body
                        tr
                            td Скидки в различных сферах
                            td 
                                span.table-ok
                        tr
                            td Личный кабинет
                            td 
                                span.table-ok

                        tr
                            td Обучение
                            td 
                                span.table-ok
                        tr
                            td Готовый бизнес
                            td 
                                span.table-ok
                        tr
                            td Тренинги
                            td 
                                span.table-ok

                        tr
                            td Посещение событий
                            td 
                                span.table-ok
                        tr
                            td Увеличенный доход
                            td -
                        tr
                            td Расширенный маркетинг план
                            td -
            
                        tr
                            td Бонусы и подарки согласно плану вознаграждений - автомобиль и дом
                            td -
                        tfoot.services-table-foot
                            tr.services-table-head
                                th 
                                    span Стоимость пакета
                                th  10 000 руб.
                            tr
                                td Абонентская плата
                                td 3000 руб./год
                            tr
                                td Срок использования
                                td  ∞
                            tr
                                td Low-cost карты в подарок
                                td 1 карта
                a.btn-small(href="") Выбрать

            .table-box
                table.services-table.services-table-sm
                    caption(align="center") STANDART
                    tbody.services-table-body
                        tr
                            td Скидки в различных сферах
                            td 
                                span.table-ok
                        tr
                            td Личный кабинет
                            td 
                                span.table-ok

                        tr
                            td Обучение
                            td 
                                span.table-ok
                        tr
                            td Готовый бизнес
                            td 
                                span.table-ok
                        tr
                            td Тренинги
                            td 
                                span.table-ok

                        tr
                            td Посещение событий
                            td 
                                span.table-ok
                        tr
                            td Увеличенный доход
                            td 
                                span.table-ok
                        tr
                            td Расширенный маркетинг план
                            td -
                        tr
                            td Бонусы и подарки согласно плану вознаграждений - автомобиль и дом
                            td -
                        tfoot.services-table-foot
                            tr.services-table-head
                                th 
                                    div Стоимость пакета
                                th  25 000 руб.
                            tr
                                td Абонентская плата
                                td 3000 руб./год
                            tr
                                td Срок использования
                                td  ∞
                            tr
                                td Low-cost карты в подарок
                                td 3 карта
                a.btn-small(href="") Выбрать

            .table-box  
                table.services-table.services-table-sm
                    caption(align="center") PREMIUM
                    tbody.services-table-body
                        tr
                            td Скидки в различных сферах
                            td 
                                span.table-ok
                        tr
                            td Личный кабинет
                            td 
                                span.table-ok
                        tr
                            td Обучение
                            td 
                                span.table-ok
                        tr
                            td Готовый бизнес
                            td 
                                span.table-ok
                        tr
                            td Тренинги
                            td 
                                span.table-ok

                        tr
                            td Посещение событий
                            td 
                                span.table-ok
                        tr
                            td Увеличенный доход
                            td 
                                span.table-ok
                        tr
                            td Расширенный маркетинг план
                            td 
                                span.table-ok
                        tr
                            td Бонусы и подарки согласно плану вознаграждений - автомобиль и дом
                            td 
                                span.table-ok
                        tfoot.services-table-foot
                            tr.services-table-head
                                th 
                                    div Стоимость пакета
                                th  50 000 руб.
                            tr
                                td Абонентская плата
                                td 3000 руб./год
                            tr
                                td Срок использования
                                td  ∞
                            tr
                                td Low-cost карты в подарок
                                td 5 карта
                a.btn-small(href="") Выбрать
