section.special
	.container
		.caption.wow.fadeIn(data-wow-offset="100")
			h2.title.title-mid Обеспечьте счастливую жизнь себе, беззаботное детство вашим детям и достойную старость своим родителям
		.special-box
			.special-subtitle.text-white.wow.fadeIn(data-wow-offset="100")
				p.text-primary Регистрируйтесь прямо сейчас!
				p Мы подберем для вас выгодные условия сотрудничества
				
			a.btn.btn-secondary.wow.fadeIn(href='' data-wow-delay="0.3s" data-wow-offset="100") Регистрация
