section.special.special-two
	.container
		.caption.wow.fadeIn(data-wow-offset="100")
			h2.title.title-mid Узнайте, как начать сотрудничество с Empire Home и выгодно получить свой собственный дом в престижном и экологически чистом месте
		.special-box
			.special-subtitle.text-white.wow.fadeIn(data-wow-offset="100")
				p.text-primary Empire Home – это ваша свобода!
				
			a.btn.btn-secondary.wow.fadeIn(href='' data-wow-delay="0.3s" data-wow-offset="100") Регистрация
