section.tizer
	.container
		h1.title-main Наш сайт в разработке
		.row
			.col-md-4
				.tizer-column
					p Это закрытый клуб потребителей и особенных привилегий. Основной продукт компании - это дисконтная карта, которая даёт возможность экономить деньги от 10% до 80% во всех сферах деятельности.

			.col-md-4
				.tizer-column
					p Это прогрессивный бизнес с достойным доходом, который открывает  возможности абсолютно для каждого. Это международный клуб единомышленников, которые помогают и поддерживают друг друга.

			.col-md-4
				.tizer-column
					p Это ваш собственный дом в экологически чистом месте, будь то на берегу моря или высоко в горах. Это ваш престижный автомобиль, современные гаджеты и множество других продуктов премиум класса.