footer.footer
    .container
        .row.align-items-md-center 
            .col-md-3.col-lg-4
                .copy Empire Home © 2019
            .col-md-5.col-lg-4
                ul.social-list
                    li
                        a(href="/")
                            i.fab.fa-vk
                    li
                        a(href="/") 
                            i.fab.fa-facebook-f
                    li
                        a(href="/") 
                            i.fab.fa-twitter
                    li
                        a(href="/") 
                            i.fab.fa-instagram
                    li
                        a(href="/") 
                            i.fab.fa-youtube
                    li
                        a(href="/") 
                            i.fab.fa-telegram-plane
            .col-md-4.col-lg-4
                ul.foo-list
                    li
                        a(href="/") Правила пользования сайтом
                    li
                        a(href="/") Политика конфиденциальности
                    li
                        a(href="/") Договор оферты