header.header
    .container
        .header-wrapper
            .header-logo-box
                a.logo(href="")
                    img(src='./img/Logo-primary.png' alt="logo")
            .header-box
                .header-top
                    .header-call
                        span.icon-phone
                            i.fas.fa-phone.fa-flip-horizontal
                        .header-call-numbers   
                            a(href='') +7 902-293-212
                    .header-user
                        a.header-user-login(href="") Вход
                        span /
                        a.header-user-register(href="") Регистрация
                .hamburger.hamburger--spin.js-hamburger
                    .hamburger-box
                        .hamburger-inner
                nav.header-nav
                    ul.header-nav-list
                        li
                            a(href="#company") О компании
                        li
                            a(href="#scope") Возможности
                        li
                            a(href="#services") Пакеты услуг
                        li
                            a(href="#comments") Отзывы
                        li
                            a(href="#project") Дорожная карта
                        li
                            a(href="index2.html") благотворительность
            .header-nav-mobile
                .header-user.header-user-mobile
                    a.header-user-login(href="") Вход
                    span /
                    a.header-user-register(href="") Регистрация
                nav.nav-mobile
                    ul.nav-mobile-list
                        li
                            a(href="#company") О компании
                        li
                            a(href="#scope") Возможности
                        li
                            a(href="#services") Пакеты услуг
                        li
                            a(href="#comments") Отзывы
                        li
                            a(href="#project") Дорожная карта
                        li
                            a(href="") благотворительность
                ul.social-list.social-list-mobile-nav
                    li
                        a(href="/")
                            i.fab.fa-vk
                    li
                        a(href="/") 
                            i.fab.fa-facebook
                    li
                        a(href="/") 
                            i.fab.fa-twitter
                    li
                        a(href="/") 
                            i.fab.fa-instagram
                    li
                        a(href="/") 
                            i.fab.fa-youtube
                    li
                        a(href="/") 
                            i.fab.fa-telegram-plane
                                