doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(rel="shortcut icon" href="" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="./fonts/font-awesome/css/all.css")
        link(rel="stylesheet" type="text/css" href="./fonts/font-awesome/css/v4-shims.min.css")
        link(rel='stylesheet' href='css/bootstrap.min.css')
        link(rel='stylesheet' href='css/styles.min.css')
        title EmpireHome
    body
        .page-loader
            .page-laoder-frame
                img.svg-loader(src="./img/Logo-primary.png")
        .main-wrapper
            header.header.header-border
                .container
                    .header-wrapper
                        .header-logo-box
                            a.logo(href="")
                                img(src='./img/Logo-primary.png' alt="logo")
                        .header-box
                            .header-top
                                .header-call
                                    span.icon-phone
                                        i.fas.fa-phone.fa-flip-horizontal
                                    .header-call-numbers   
                                        a(href='') +7 902-293-212
                                .header-user
                                    a.header-user-login(href="") Вход
                                    span /
                                    a.header-user-register(href="") Регистрация
                            .hamburger.hamburger--spin.js-hamburger
                                .hamburger-box
                                    .hamburger-inner
                            nav.header-nav
                                ul.header-nav-list
                                    li
                                        a(href="#company") О компании
                                    li
                                        a(href="#scope") Возможности
                                    li
                                        a(href="#services") Пакеты услуг
                                    li
                                        a(href="#comments") Отзывы
                                    li
                                        a(href="#project") Дорожная карта
                                    li
                                        a(href="index2.html") благотворительность
                        .header-nav-mobile
                            .header-user.header-user-mobile
                                a.header-user-login(href="") Вход
                                span /
                                a.header-user-register(href="") Регистрация
                            nav.nav-mobile
                                ul.nav-mobile-list
                                    li
                                        a(href="#company") О компании
                                    li
                                        a(href="#scope") Возможности
                                    li
                                        a(href="#services") Пакеты услуг
                                    li
                                        a(href="#comments") Отзывы
                                    li
                                        a(href="#project") Дорожная карта
                                    li
                                        a(href="") благотворительность
                            ul.social-list.social-list-mobile-nav
                                li
                                    a(href="/")
                                        i.fab.fa-vk
                                li
                                    a(href="/") 
                                        i.fab.fa-facebook
                                li
                                    a(href="/") 
                                        i.fab.fa-twitter
                                li
                                    a(href="/") 
                                        i.fab.fa-instagram
                                li
                                    a(href="/") 
                                        i.fab.fa-youtube
                                li
                                    a(href="/") 
                                        i.fab.fa-telegram-plane
            main.content.content-costom
                section.page-error
                    .container
                        .row
                            .col-12.text-center
                                .page-error-box
                                    .page-error-title.page-error-title-img.text-center(style="background-image: url('./img/500_bg.jpg')") 500
                                    .page-error-title.page-error-title-shadow.text-center 500
                            .col-12.text-center.mb-5
                                h5.text-weight-regular.text-lightgray Ой! На сервере произошла непредвиденная ошибка
                            .col-12.text-center
                                a.btn.btn-outline-dark.btn-rounded(href="")
                                    i.fas.fa-long-arrow-alt-left.mr-2
                                    | ВЕРНУТЬСЯ НАЗАД


            include components/footer.pug                 
        a.scroll.js-scroll(href="")
            span    
        include components/script.pug